
<div class="component-container">
  <!-- Contenido del componente -->
<app-home></app-home>
<div class="container-fluid" style="color: white;">
  <div class="row">
    <div class="col-12" style="display: flex; align-items: center;">
      <img src="assets/stock.png" style="width: 60px; max-height: 60px; margin-right: 10px;">
      <h4 style="margin: 0;">S T O C K</h4>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <h3>Stock de Productos <br><button pButton (click)="mostrarEstadisticas()" class="btn_new">Mostrar Estadísticas</button></h3>
      
      <!-- Modal -->
      <div class="modal" [class.active]="mostrarModal">
        <div class="modal-content">
          <span class="close" (click)="cerrarModal()">&times;</span>
          <h4 style="color: black;">Estadísticas de Stock</h4>
          <div class="estadisticas">
            <div class="estadistica">
              <h5 style="color: black;">Total Productos</h5>
              <p style="color: black;">{{ productos.length }}</p>
            </div>
            <div class="estadistica">
              <h5 style="color: black;">Total Compras</h5>
              <p style="color: black;">{{ compras.length }}</p>
            </div>
            <div class="estadistica">
              <h5 style="color: black;">Total Ventas</h5>
              <p style="color: black;">{{ ventas.length }}</p>
            </div>
          </div>

          <!-- Gráfico de pastel para estado de stock -->
          <p-chart type="pie" [data]="pieChartData" [options]="pieChartOptions"></p-chart>

          <!-- Gráfico de barras para ventas mensuales -->
          <h5 style="color: black;">Ventas Mensuales</h5>
          <p-chart type="bar" [data]="barChartData" [options]="barChartOptions"></p-chart>

          <!-- Gráfico de barras para productos más vendidos -->
          <h5 style="color: black;">Productos Más Vendidos</h5>
          <p-chart type="bar" [data]="barChartProductosData" [options]="barChartProductosOptions"></p-chart>
        </div>
      </div>
      <!-- Fin Modal -->

      <table id="customers">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of productos">
            <td>{{ producto.descripcion }}</td>
            <td>{{ producto.stock }}</td>
            <td [ngClass]="{
              'bajo-stock': producto.stock <= 5 && producto.stock > 0,
              'sin-stock': producto.stock === 0,
              'suficiente-stock': producto.stock > 5
            }">
              <span *ngIf="producto.stock <= 5 && producto.stock > 0">Bajo</span>
              <span *ngIf="producto.stock === 0">Sin Stock</span>
              <span *ngIf="producto.stock > 5">Suficiente</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>